###
Q1
 - STING SCLICING
 
 >>String slicing in Python allows you to extract a portion of a string by specifying a start and end index. It follows the format string [start:end:step], where start is the index where slicing begins and end is the index where it ends.
 
 >> The indexing starts from 0th index that is the first position and the last position ends at n-1, by default the step is 1 although we    can change it as we desire.

In [11]:
#examples
string1="hello world!"
string1[3]      #in slicing we can only mention the starting index and it will execute it.

'l'

In [12]:
string1[3:] # it will show us all indexes stating from index 3.

'lo world!'

In [13]:
string1[:3]  # it will show us all the indexes till index 2 excluding index 3.

'hel'

In [14]:
string1[3:5]   #we can also mention the last index we want.

'lo'

In [15]:
string1[1:5:1]   #by default the step is 1

'ello'

In [16]:
string1[1:5:2] #step can be changed based on our requirements.

'el'

In [17]:
string2="abdullahinaam"
string2[::-1]   #slicing can be also used to reverse the string.

'maanihalludba'

In [18]:
string2[::2]

'adlaiam'

###
Q2
- KEY FEATURES OF LIST
    - Lists are ordered.
       >>It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime. 
    - Lists can contain any arbitrary objects.
       >>The elements of a list can all be the same type or the elements can be of varying types.
    - List elements can be accessed by index.
       >>Individual elements in a list can be accessed using an index in square brackets.
    - Lists can be nested .
       >>list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.
    - Lists are mutable.
       >>Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.
    - Lists are dynamic.
        >>When items are added to a list, it grows as needed Similarly, a list shrinks to accommodate the removal of items.

In [32]:
#examples   
list1=["potato","bringal","tomato","onion"]   #indexing
list1[3]

'onion'

In [33]:
list2=[2,4,5,2.1,3+6j,"hello",True, False] #arbitraty
list2[4]

(3+6j)

In [34]:
list1[3]="banana" #mutable
print(list1)

['potato', 'bringal', 'tomato', 'banana']

In [37]:
list3=[2,3,4,[13,4,6],[1,6,8],9,0]     #nested
print(list3)

[2, 3, 4, [13, 4, 6], [1, 6, 8], 9, 0]

###
Q3
- ACCESS A LIST
   >>we can acess alist by indexing.

In [66]:
#example
list1=["potato","bringal","tomato","onion"]   
list1[3]  #only giving ondex index means it will show us the string that is at index 3.

'onion'

In [67]:
list1[1:4]  # it will show us the contents of list from index 1 to index 3 .

['bringal', 'tomato', 'onion']

In [69]:
list1[:4] #it will show us elements from start to the end index mentioned.

['potato', 'bringal', 'tomato', 'onion']

In [70]:
list1[1:] #it will show us te elements from index1 to the end of the list.

['bringal', 'tomato', 'onion']

In [71]:
list1[1:4:1] # it will show us the elements from start to end index of list mentioned with a step of 1.

['bringal', 'tomato', 'onion']

In [72]:
list1[1:4:2] #it will show us the elements from start to end index of list mentioned with a step of 2.

['bringal', 'onion']

### 
Q3
- MODIFY A LIST
   >>We can modify a list by using indexing .We can add ,remove,insert,delete, extend the elements in the list.

In [95]:
#example
list2=[2,4,5,2.1,3+6j,"hello",True, False]
list2[5]="modify"

In [96]:
print(list2)

[2, 4, 5, 2.1, (3+6j), 'modify', True, False]

In [97]:
list2.append("adding")   #predefined fn, it adds the element at the end of the list

In [98]:
list2

[2, 4, 5, 2.1, (3+6j), 'modify', True, False, 'adding']

In [99]:
list2.insert(2,"orange") #predefined fn, it adds the element at the defined postion in the list.

In [83]:
list2

[2, 4, 'orange', 5, 2.1, (3+6j), 'modify', True, False, 'adding']

In [84]:
del list2[4] #predefined fn.

In [85]:
list2

[2, 4, 'orange', 5, (3+6j), 'modify', True, False, 'adding']

In [86]:
list2.pop() #predefined fn.

'adding'

In [87]:
list2

[2, 4, 'orange', 5, (3+6j), 'modify', True, False]

In [88]:
list2.remove("orange") #predefined fn.

In [89]:
list2

[2, 4, 5, (3+6j), 'modify', True, False]

In [90]:
list2.clear() #predefined fn.

In [91]:
list2

[]

In [92]:
del list2

In [93]:
list2   #list is deleted.

NameError: name 'list2' is not defined

In [106]:
list4=["123","INAAM",5,567]
list5=["abdullah","123",3,2]
list4.extend(list5)     #removes duplicated and merges two lists.
list4

['123', 'INAAM', 5, 567, 'abdullah', '123', 3, 2]

### 
Q4
- compare and contrast list and tuples.


>>LIST
- Tuples are immutable.
- The implication of iterations is comparatively Faster.
- A Tuple data type is appropriate for accessing the elements.
- Lists consume more memory	Tuple consumes less memory as compared to the list.
- Tuple does not have many built-in methods.
-  tuples don’t change they are far less error-prone.


>>TUPLE
- Lists are mutable	
- The implication of iterations is Time-consuming.	
- The list is better for performing operations, such as insertion and deletion.	
- Lists have several built-in methods.	
- Unexpected changes and errors are more likely to occur.

In [177]:
#examples
"""tuples are heterogenous also  list are heterogenous"""

tuple1=("inaam",1,2.2,3+5j,True ,False)
list1=["inaam",1,2.2,3+5j,True ,False]

In [168]:
tuple1

('inaam', 1, 2.2, (3+5j), True, False)

In [169]:
set1

{(3+8j), 12, 2.1, 'inaam'}

In [176]:
"""tuples are immutable while list are mutable"""

tuple2=("inaam","abdullah","dawar","danish")
tuple2[0]="zamin"

TypeError: 'tuple' object does not support item assignment

In [172]:
list1=["inaam","abdullah","dawar","danish"]
list1[0]="zamin"

In [114]:
set1

['zamin', 'abdullah', 'dawar', 'danish']

In [175]:
"""in tuples we cannot use indexing to add or remove the elements while as in list we can use to operations using indexing."""

#example
list1[3]="pwskills"
list1

['zamin', 'abdullah', 'dawar', 'pwskills']

In [119]:
tuple1[3]="pwskills"
tuple1

TypeError: 'tuple' object does not support item assignment

In [174]:
""" their are different methods in lists such as insert, remove, append,extend,clear,del etc while as we cannot do these 
operations in the tuples but their is a workaround to modify tuples by first converting the tuple in the list and modify
the list and convert the list back to tuple"""
#example

tuple2=("inaam","abdullah","dawar","danish")
y=list(tuple2)
y[1]="Modigy"
tuple2=tuple(y)

In [123]:
tuple2

('inaam', 'Modigy', 'dawar', 'danish')

###
Q5
- A Set is an unordered collection 
- that is iterable.
- mutable.
- has no duplicate elements. 
- heterogenous.

In [132]:
set1={"inaam",12,2.1,3+8j}
print(set1)   #unorderd

{2.1, (3+8j), 12, 'inaam'}

In [133]:
set1[0]  #indexing doesn't work as it is unordered.

TypeError: 'set' object is not subscriptable

In [134]:
for i in set1:
    print(i,end=" ") #iterable

2.1 (3+8j) 12 inaam

In [137]:
set2={1,2,2,2,3,4,5,6,3}
print(set2)  #no duplicates

{1, 2, 3, 4, 5, 6}

In [139]:
set2.add("orange")
set2

{1, 2, 3, 4, 5, 6, 'orange'}

In [141]:
set2.update("mango")
set2

{1, 2, 3, 4, 5, 6, 'a', 'g', 'm', 'n', 'o', 'orange'}

In [151]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
thisset

{'apple', 'cherry'}

In [153]:
thisset = {"apple", "banana","cherry", "orange"}

thisset.discard("cherry")
thisset

{'apple', 'banana', 'orange'}

In [155]:
thisset.pop()
thisset

{'orange'}

In [158]:
thisset.clear()
thisset

set()

In [159]:
del thisset

In [161]:
thisset

NameError: name 'thisset' is not defined

In [164]:
set5={1,2,3,[1,23,5]} # we can't used nested list in the tuple because list is mutable

TypeError: unhashable type: 'list'

In [166]:
set4={1,2,3,(1,2,3,4),4}  # TUPLE IS IMMUTABLE

###
Q6
- USE CASE OF SET AND TUPLE IN PYTHON

>>TUPLE
- Immutable: Elements cannot be modified after creation.
- Ordered: Elements have a specific order.
- Duplicates allowed.
- Access elements by index.
- Representing data that should not change.
- Immutable and safe.
- Elements cannot be modified.

>>SET
- Mutable: Elements can be modified after creation.
- Ordered: Elements have a specific order	Unordered: Elements have no specific order.
- Duplicates not allowed.
- No indexing.
- Eliminating duplicates – Checking for membership – Mathematical operations (union, intersection).
- Efficient duplicate removal; Operation such as whether a member is available in the set is faster.
- Elements cannot be modified	Elements have no specific order – No indexi.

In [178]:
"""tuples are heterogenous"""

tuple1=("inaam",1,2.2,3+5j,True ,False)

In [179]:
"""tuples are immutable while list are mutable"""

tuple2=("inaam","abdullah","dawar","danish")
tuple2[0]="zamin"

TypeError: 'tuple' object does not support item assignment

In [181]:
""" cannot do these operations in the tuples but their is a workaround to modify tuples by first converting the tuple in the list and modify
the list and convert the list back to tuple"""
#example

tuple2=("inaam","abdullah","dawar","danish")
y=list(tuple2)
y[1]="Modigy"
tuple2=tuple(y)

In [182]:
set1={"inaam",12,2.1,3+8j}
print(set1)   #unorderd

{2.1, (3+8j), 12, 'inaam'}

In [183]:
for i in set1:
    print(i,end=" ") #iterable

2.1 (3+8j) 12 inaam

In [184]:
set2={1,2,2,2,3,4,5,6,3}
print(set2)  #no duplicates

{1, 2, 3, 4, 5, 6}

In [185]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
thisset

{'apple', 'cherry'}

In [ ]:
"""
sets are used for  its operatons such as union, inersection, difference

In [186]:
s1={1,3,5,78,97,5,9}
s2={12,4,7754,34,15,9,7}

In [193]:
s1|s2 # union

{1, 3, 4, 5, 7, 9, 12, 15, 34, 78, 97, 7754}

In [194]:
s1&s2 #intersection

{9}

In [195]:
s1-s2 #difference

{1, 3, 5, 78, 97}

In [196]:
s1^s2 #symmetric diff

{1, 3, 4, 5, 7, 12, 15, 34, 78, 97, 7754}

###
Q7
- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered, changeable and do not allow duplicates.

- Dictionaries are written with curly brackets, and have keys and values.

In [284]:
d={}
type(d)

dict

In [285]:
d={"name":"inaam","email":"bha23aa2@gmail.com","phno":9980934}

In [286]:
d["name"]="abdullah"

In [287]:
d

{'name': 'abdullah', 'email': 'bha23aa2@gmail.com', 'phno': 9980934}

In [288]:
#access the dict
#You can access the items of a dictionary by referring to its key name, inside square brackets.
d

{'name': 'abdullah', 'email': 'bha23aa2@gmail.com', 'phno': 9980934}

In [289]:
d["name"] #usnig key

'abdullah'

In [290]:
d.get("name") # redefined

'abdullah'

In [291]:
d={"name":["inaam","abdu","ish"],"email":"bha23aa2@gmail.com","phno":9980934}
d["name"][1]

'abdu'

In [292]:
d.keys()

dict_keys(['name', 'email', 'phno'])

In [307]:
d1={"name":["inaam","abdu","ish"],"email":"bha23aa2@gmail.com","phno":9980934}
d1.fromkeys((1,2.3),("a","b","c"))

{1: ('a', 'b', 'c'), 2.3: ('a', 'b', 'c')}

In [293]:
d["adress"]="kashmir" #add

In [294]:
d

{'name': ['inaam', 'abdu', 'ish'],
 'email': 'bha23aa2@gmail.com',
 'phno': 9980934,
 'adress': 'kashmir'}

In [295]:
d.keys()   #The keys() method will return a list of all the keys in the dictionary.

dict_keys(['name', 'email', 'phno', 'adress'])

In [296]:
d.values()    # The values() method will return a list of all the values in the dictionary.

dict_values([['inaam', 'abdu', 'ish'], 'bha23aa2@gmail.com', 9980934, 'kashmir'])

In [297]:
d.items()  #The items() method will return each item in a dictionary, as tuples in a list.

dict_items([('name', ['inaam', 'abdu', 'ish']), ('email', 'bha23aa2@gmail.com'), ('phno', 9980934), ('adress', 'kashmir')])

In [298]:
d["adress"]="jammu"
d   #modify

{'name': ['inaam', 'abdu', 'ish'],
 'email': 'bha23aa2@gmail.com',
 'phno': 9980934,
 'adress': 'jammu'}

In [299]:
d.update({"year":2024})
d

{'name': ['inaam', 'abdu', 'ish'],
 'email': 'bha23aa2@gmail.com',
 'phno': 9980934,
 'adress': 'jammu',
 'year': 2024}

In [300]:
d.pop("email")  #remove

'bha23aa2@gmail.com'

In [301]:
d

{'name': ['inaam', 'abdu', 'ish'],
 'phno': 9980934,
 'adress': 'jammu',
 'year': 2024}

In [302]:
d.popitem()

('year', 2024)

In [303]:
d.clear() #delete

In [304]:
d

{}

In [305]:
del d #delete

In [306]:
d

NameError: name 'd' is not defined

###
Q8

- A dictionary in Python is a collection of key-value pairs, where each key is associated with a value. The keys and values can be of any data types such as strings, numbers, or even tuples and lists. The important thing to remember is that keys must be unique, whereas values may not be unique.

- In a dictionary, the key part must be immutable. This means that once a key is created, it cannot be changed. Immutability is essential for keys because it ensures that the dictionary can efficiently look up values based on their keys. If a key was mutable, its hash value could change, making it impossible to find the associated value in the dictionary.
- Immutable data types such as strings, numbers, and tuples (if they contain only immutable elements) can be used as keys in a dictionary. Mutable data types like lists cannot be used as keys because they can be changed after being created, which could lead to unexpected behavior when using a dictionary. In summary, the part of a dictionary element that must be immutable is the key.


- Immutable Dictionary Keys
    >>>To understand why Python insists on using immutable objects for dictionary keys, consider a real-world dictionary. Each word (key) has a definitive spelling (immutable) and leads you to a specific definition (value). Just like in a real dictionary, Python dictionary keys must be steadfast and unchanging.

    >>>Immutable objects include types like integers, floats, strings, and tuples that contain immutable elements. Once you've defined a key, it remains constant throughout the life of the dictionary. This unchangeability is vital because keys are hashed: they're transformed into integers for rapid access. If you could change a key, it would be like altering a word's spelling after it's been put in a dictionary - chaos would ensue! The mapping would be lost, as the key's hash value would no longer point to the same 'location' in the dictionary.

    >>>The immutability of keys thus fuels a dictionary's efficiency, particularly when it comes to locating associated values. A common error made by learners is trying to use lists as keys since lists can modify their contents. This is a no-go in Python, as list mutability risks the integrity and performance of dictionary operations.

In [309]:
#examples
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["brand"]="foorss"
thisdict

{'brand': 'foorss', 'model': 'Mustang', 'year': 1964}

In [315]:
thisdict = {
  "key1": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [317]:
thisdict["key1"]

'Ford'

In [318]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [326]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)  #  Duplicate values will overwrite existing values

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [327]:
d={"name":["inaam","abdu","ish"],"email":"bha23aa2@gmail.com","phno":9980934}
d["name"][1]

'abdu'

In [328]:
d["adress"]="kashmir"

In [329]:
d

{'name': ['inaam', 'abdu', 'ish'],
 'email': 'bha23aa2@gmail.com',
 'phno': 9980934,
 'adress': 'kashmir'}

In [330]:
d.keys()

dict_keys(['name', 'email', 'phno', 'adress'])

In [331]:
d.values()

dict_values([['inaam', 'abdu', 'ish'], 'bha23aa2@gmail.com', 9980934, 'kashmir'])

In [332]:
d.items()

dict_items([('name', ['inaam', 'abdu', 'ish']), ('email', 'bha23aa2@gmail.com'), ('phno', 9980934), ('adress', 'kashmir')])

In [334]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [335]:
thisdict["types"]=["toop","fold","hood"]

In [336]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue'],
 'types': ['toop', 'fold', 'hood']}